.draggable-line-container {
  position: relative;
  height: 100%; /* Set the height as per your requirement */
  width: 100%; /* Set the width as per your requirement */
}

.draggable-line {
  position: absolute;
  top: 0;
  height: 100%; /* Set the height as per your requirement */
  width: 1px; /* Set the width as per your requirement */
  background-color: #ffffff; /* Set the color of the line */
  box-shadow: 0 0 5px #ffffff; /* Add a glowing effect */
  pointer-events: auto;
  z-index: 1;
}

.draggable-line-container.dragging {
  cursor: col-resize;
}
